<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TV Shows</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>
  <body>
    <div th:replace="~{fragments/fragments :: navbar}"></div>
    <div class="container">
        <h3 class="m-3 text-center">Edit a Show</h3>
        <form th:action="@{|/shows/${show.id}/edit|}" method="post">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title" th:value="${show.title}">
            <div class="row">
            <div class="col-6">
                <label class="form-label">Network</label>
                <select class="form-control" name="network" required th:value="${show.network}">
                    <option value="Warner">Warner</option>
                    <option value="FOX">FOX</option>
                    <option value="AMC">AMC</option>
                    <option value="CNN">CNN</option>
                  </select>
            </div>
            <div class="col-6">
                <label class="form-label">Release Date</label>
                <input type="date" class="form-control" name="release_date" th:value="${show.release_date}">
            </div> 
            </div>
            <label class="form-label">Description</label>
            <input type="text" class="form-control" name="description" th:value="${show.description}">
        </div>
        <button type="submit" class="btn btn-dark">Edit</button>
        </form>
        </div>

    </div>   
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
